/* Fondo negro y texto blanco */
body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* Estilo para el encabezado */
header {
  background-color: #333;
}

/* Estilo para los enlaces */
a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #f1f1f1;
}

/* Estilo para los botones */
.btn-primary {
  background-color: #555;
  border-color: #666;
}

.btn-primary:hover {
  background-color: #444;
  border-color: #555;
}

/* Formulario con fondo oscuro */
.form-control {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
}

/* Estilo para el contenedor principal */
.container {
  margin-top: 50px;
}

/* Estilo para las tablas */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #444;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #333;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #222;
}

table tr:nth-child(odd) {
  background-color: #111;
}

/* Botones dentro de las tablas */
table a {
  color: #fff;
  background-color: #555;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

table a:hover {
  background-color: #444;
}

/* Estilo para los formularios dentro de la tabla */
form input[type="text"],
form input[type="date"] {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
}

form button[type="submit"] {
  background-color: #555;
  color: #fff;
  border: 1px solid #666;
  padding: 5px 10px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #444;
  border-color: #555;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
